<ion-list>

    <ion-list-header>
        {{listTitle}}
    </ion-list-header>
    <ion-card *ngFor="let room of roomList">
        <ion-item>
            <ion-avatar item-start>
              <img class="global__avatar-shadow" [src]="room.img" alt="Room Image">
            </ion-avatar>
            <ion-label text-wrap>
                <h2 class="text-dark">{{room.name}}</h2>
                <p class="text-light">{{room.description}}</p>
            </ion-label>
        </ion-item>
    </ion-card>

</ion-list>
