<ion-card>
  <ion-card-title padding color="dark">
      Login
  </ion-card-title>
  <ion-card-content>
    
    <ion-item>
      <ion-label color="primary" floating>
        Email Address
      </ion-label>
      <ion-input [(ngModel)]="account.email"
       type="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" floating>
        Password
      </ion-label>
      <ion-input [(ngModel)]="account.password" 
       type="password">
      </ion-input>
    </ion-item>
  
  </ion-card-content>
  
  <ion-row padding float-right>
    <button ion-button color="light" (click)="navigateToRegisterPage()"
      >Register
    </button>
    <button ion-button color="bright" (click)="login()"
      margin-left="10px"
      >Login
    </button>
  </ion-row>
</ion-card>