page-edit-profile {
     img {
        margin: 0 auto;
        display: block;
        -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.548) );
        filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.548));
    }              
}