<ion-card>

    <ion-card-content >

      <ion-item>
        <ion-label floating color="primary">
          Email Address
        </ion-label>
        <ion-input [(ngModel)]="account.email" 
          type="email"
          required>
        </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label floating color="primary">
          Password
        </ion-label>
        <ion-input [(ngModel)]="account.password" 
          type="password" 
          required>
        </ion-input>
      </ion-item>
      
    </ion-card-content>
    
    <ion-row padding="10px" float-right>
      <button ion-button color="bright" (click)="register()">Register</button>
    </ion-row>

  </ion-card>