
<ion-header >
  <ion-navbar color="primary">
    <ion-title>IoHome</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Home is to display most recently used devices -->
    <ion-list >
        <ion-list-header>
          Recently Used Devices
        </ion-list-header>
        <ion-card *ngFor="let device of recentDevices">
          <ion-item>
              <ion-avatar item-start>
                <img *ngIf="device.img" [src]="device.img" alt="Device Image">
              </ion-avatar>
              <h2>{{device.name}}</h2>
              <p>{{device.history[0].action}}</p>
          </ion-item>
        </ion-card>
    </ion-list>
</ion-content>
