// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.global__img-shadow {
    margin: 0 auto;
    display: block;
    -webkit-filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.548) );
    filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.548));
    padding-top: 20px;
    padding-bottom: 20px;
    height: 256px;
    max-height: 256px;
}

.global__avatar-shadow {
    -webkit-filter: drop-shadow(0px 2px 2px rgba(34, 34, 34, 0.548) );
    filter: drop-shadow(0px 2px 2px rgba(34, 34, 34, 0.548));
}

.global__form-input-error {
    color: rgb(238, 50, 25);
}

h2.text-dark {
    color: map-get($colors, dark)
}

.text-secondary {
    color: map-get($colors, secondary)
}

p.text-light {
    color: map-get($colors, light)
}

.text-bright {
    color: map-get($colors, bright)
}

.text-primary {
    color: map-get($colors, primary)
}
