<ion-card>
    
    <ion-card-content>
      <ion-card-header>
        <ion-card-title color="secondary">
          New Device Details
        </ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label stacked color="secondary">
          Device Name
        </ion-label>
        <ion-input [(ngModel)]="device.name" type="text" placeholder="Garage Door">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked color="secondary">
          Link/Url
        </ion-label>
        <ion-input [(ngModel)]="device.link" type="text" placeholder="http://?.?.?.?">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked color="secondary">
          Port
        </ion-label>
        <ion-input [(ngModel)]="device.port" type="number" placeholder="9100">
        </ion-input>
      </ion-item>
    
    </ion-card-content>

    <ion-row padding="10px" float-right>
        <button ion-button color="bright" (click)="createDevice()">Create</button>
    </ion-row>

  </ion-card>